@font-face {
  font-family: "Audiowide";
  src: url("./Fonts/Audiowide/Audiowide-Regular.woff2") format("woff2"),
    url("./Fonts/Audiowide/Audiowide-Regular.woff") format("woff"),
    url("./Fonts/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Black.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Light.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-LightItalic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-LightItalic.woff") format("woff");
  font-weight: light;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-ThinItalic.woff") format("woff");
  font-weight: thin;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-MediumItalic.woff") format("woff");
  font-weight: medium;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./Fonts/Roboto/Roboto-Thin.woff2") format("woff2"),
    url("./Fonts/Roboto/Roboto-Thin.woff") format("woff");
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}
